<phpunit colors="true" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Munition_Core">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./framework</directory>
      <exclude>
        <directory suffix=".php">./framework/errhandler</directory>
        <directory suffix=".php">./tests/test_app</directory>
        <directory suffix=".php">./tests/test_config</directory>
        <file>./tests/xhr.php</file>
      </exclude>
    </whitelist>
  </filter>
  
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml" />
  </logging>
  
</phpunit>